<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "logo.jpeg" %>
	</div>

	<div id="content">
		<h1>Hey, I'm Wim Huiskes</h1>
		<p>Welcome to my Blog site.</p>
		<p>I'm a Webdeveloper/Content processor situated in Hilversum, Holland.</p>
		<p>If you'd like to follow me to check what i'm up to, find me on <a href="http://nl.linkedin.com/in/wimhuiskes" target="blank">LinkedIn</a>, <a href="https://plus.google.com/117688881867716805198/posts/p/pub" target="blank">Google+</a>, <a href="https://www.facebook.com/pages/Webdesign-by-Wim-Huiskes/766566970109099?ref=aymt_homepage_panel" target="blank">Facebook</a> or on the web at <a href="http://www.wimhuiskes.nl" target="blank">wimhuiskes.nl</a>.</p>
	</div>
</div>

